.grid-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* grid-auto-rows: 120px; */
    grid-gap: 16px;
}

.card-product-circle {
    height: 100px;
    width: 100px;
}
.card-product-circle picture {
    border-radius: 50%;
    overflow: hidden;
    display: flex;
}
.card-product-circle picture,
.card-product-circle picture img {
    height: 100%;
    width: 100%;
}

.card-product-item-reg {
    padding: 8px;
    border-radius: 8px;
    transition: all 0.3s;
    box-shadow: 0px 0px 3px 0px #00000025;
    color: var(--color-t-0)
}
.card-product-item-reg:hover {
    box-shadow: 0px 8px 10px -2px #00000045;
    transform: translateY(-6px) scale(1.01);
}
.card-product-item-reg .photo {
    width: 100%;
    display: flex;
    height: 130px;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}
.card-product-item-reg .photo .icons-float {
    position: absolute;
    top: 14px;
    right: 14px;
}
.card-product-item-reg .photo picture,
.card-product-item-reg .photo picture img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.card-product-item-reg .details {
    padding-inline: 4px;
    margin-block-start: 8px;
}
.card-product-item-reg .details .rating {
    font-size: 14px;
    margin-block-end: 6px;
}
.card-product-item-reg .details .product-name {
    font-weight: bold;
    margin-block-end: 4px;
}
.card-product-item-reg .details .price {
    text-align: end;
}