.title-group-text {
    margin-inline-end: 8px;
}
.page-title {
    font-size: 20px;
    color: var(--naranja1);
    text-align: start;
    margin: 10;
}

.favorites-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10;
    margin-top: 10px;
    margin-bottom: 10px;
}

.favorites-search {
    position: relative;
    width: 400px;
}

.favorites-search input {
    width: 100%;
    padding: 10px 40px 10px 15px;
    border: 1px solid #cccccc;
    border-radius: 20px;
    font-size: 16px;
}

.favorites-search .search-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: #333333;
    font-size: 16px;
    pointer-events: none;
}
#similarFavorites {
    margin-block-end: 60px;
}
#similarFavorites .title-group {
    margin-block-end: 24px;
}

.line-primary {
    border-color: var(--naranja1);
    border-width: 2px;
    margin-block: 40px;
    border-style: solid;
}