.header-top {
    background-color: var(--naranja1);
    display: flex;
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 48;
    transition: all 0.3s;
}

.maximize .header-top {
    height: var(--header-h1-max);
}

.minimize .header-top {
    height: var(--header-h1-min);
}

.header-top-box {
    margin-inline: auto;
    max-width: 1200px;
    width: 100%;
    display: grid;
    padding-block: 6px;
    align-items: center;
}

.header-top-box .header-logo {
    max-height: calc(var(--header-h1-max)* 0.9);
    height: 100%;
}

.header-top-box .header-logo img {
    height: 100%;
}

header.login-page .header-top-box {
    grid-template-columns: auto auto;
    justify-content: space-between;
    max-width: 600px;
}
@media (max-width: 900px) {
    header:not(.login-page) .header-top-box {
        grid-template-columns: auto 1fr auto;
    }
    .header-top-box {
        grid-gap: 0px 16px;
        padding-inline: 8px;
    }

    .header-top-box .header-logo {
        transition: all 0.3s;
    }

    .maximize .header-top-box .header-logo {
        max-height: calc(var(--header-h1-max) * 0.8);
    }

    .minimize .header-top-box .header-logo {
        max-height: calc(var(--header-h1-min) * 0.8);
    }

    .quick-access {
        display: none;
    }

    .center-bar-search-container {
        position: fixed;
        z-index: 3;
        top: 0px;
        left: 0px;
        width: 100%;
        right: 0px;
        transform: translateY(-100%);
        transition: all 0.3s ease-in-out;
    }

    .center-bar-search-container.mobile-open {
        transform: translateY(0);
    }

    .maximize .center-bar-search-box .search-bar {
        height: var(--header-h1-max);
    }

    .minimize .center-bar-search-box .search-bar {
        height: var(--header-h1-min);
    }

    .center-bar-search-box .search-bar::before {
        content: "";
        position: absolute;
        left: 18px;
        right: 18px;
        height: 1px;
        background-color: var(--color-t-0);
        bottom: 1px;
        opacity: 0.2;
    }

    .search-result {
        padding-inline: 22px 22px;
        padding-block: 16px;
    }
    .header-top-box .mobile-menu-box,
    .header-top-box .mobile-search-box {
        height: 100%;
        width: 44px;
        display: grid;
        place-items: center;
    }

    .header-top-box .mobile-menu-box i,
    .header-top-box .mobile-search-box i {
        transition: all 0.2s ease-in-out;
    }

    .header-top-box .mobile-menu-box:hover i,
    .header-top-box .mobile-search-box:hover i {
        transform: scale(1.1);
    }

    .header-shadow {
        pointer-events: none;
        background-color: var(--color-t-0);
        opacity: 0;
        width: 100%;
        top: 0px;
        height: 100%;
        position: fixed;
        z-index: 49;
        transition: all 0.2s;
    }

    .header-nav.lateral-view+.header-shadow {
        opacity: 0.3;
        pointer-events: all;
    }

    .header-nav {
        gap: 30px 0px;
        background-color: var(--color-t-1);
        width: calc(100% - 16px);
        max-width: 400px;
        top: 0px;
        height: 100%;
        transform: translateX(-100%);
        overflow: auto;
        z-index: 50;
    }

    .header-nav.lateral-view {
        transform: translateX(0);
        box-shadow: 4px 0px 8px 2px #00000035;
    }

    .nav-quick-access {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        padding-inline: 20px;
    }

    .nav-quick-access a {
        border-style: solid;
        border-width: 2px;
        border-color: var(--naranja2);
        padding: 8px 20px;
        display: grid;
        grid-template-rows: 26px auto;
        grid-gap: 6px 0px;
        border-radius: 4px;
        place-items: center;
        transition: all 0.3s ease-in-out;
        color: var(--naranja1);
    }

    .nav-quick-access a:hover {
        border-color: var(--naranja1);
    }

    .nav-quick-access a i {
        font-size: 22px;
    }

    .nav-quick-access a span {
        font-size: 16px;
        place-self: start;
    }

    .header-nav-box {
        display: flex;
        flex-direction: column;
        gap: 4px 0px;
    }

    .header-nav-box a {
        position: relative;
        padding-block: 10px;
        padding-inline-start: 18px;
        transition: padding 0.3s ease-in-out;
        color: var(--color-t-0);
    }

    .header-nav-box a:hover {
        padding-inline-start: 22px;
        color: var(--naranja1);
    }

    .header-nav-box a::before {
        content: "";
        position: absolute;
        background-color: var(--naranja2);
        width: 100%;
        left: 0px;
        top: 0px;
        height: 100%;
        z-index: 1;
        transition: all 0.3s ease-in-out;
        transform-origin: left center;
        transform: scaleX(0);
    }

    .header-nav-box a:hover::before {
        transform: scaleX(1);
    }

    .header-nav-box a span {
        position: relative;
        z-index: 2;
    }

    .nav-link-clients,
    .nav-link-vendors {
        position: relative;
    }

    .nav-link-vendors {
        margin-bottom: 50vh;
    }

    .nav-link-clients::before,
    .nav-link-vendors::before {
        content: "";
        position: absolute;
        height: 1px;
        background-color: var(--naranja1);
        opacity: 0.4;
        left: 16px;
        right: 16px;
        top: -16px;
    }

    .nav-header {
        height: var(--header-h1-max);
        min-height: var(--header-h1-max);
        display: grid;
        justify-content: end;
        align-items: center;
        padding-inline: 20px;
        flex-shrink: var(--header-h1-max);
    }

    .search-results-container .search-results-box {
        background-color: white;
        border-style: solid;
        border-width: 0px;
        border-block-end-width: 4px;
        border-color: var(--naranja1);
    }

    .btn-search-box-icon {
        right: 36px;
        top: 12px;
        bottom: 12px;
        width: 50px;
    }

    .btn-close-box-icon {
        right: 6px;
        top: 12px;
        bottom: 12px;
        width: 38px;
    }
}

@media (min-width: 901px) {
    header:not(.login-page) .header-top-box {
        grid-template-columns: auto 1fr auto;
    }
    .header-top-box {
        grid-gap: 0px 8px;
        padding-inline: 14px;
    }

    .header-top-box>[class^=mobile],
    .nav-header,
    .nav-quick-access {
        display: none;
    }

    .center-bar-search-box {
        max-width: 500px;
        width: 100%;
    }

    .header-top .quick-access {
        display: grid;
        grid-gap: 8px;
        grid-template-columns: repeat(3, 38px);
        grid-template-rows: 38px;
    }

    .center-bar-search-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .maximize .center-bar-search-box .search-bar {
        height: 42px;
    }

    .minimize .center-bar-search-box .search-bar {
        height: 38px;
    }

    .center-bar-search-box .search-bar {
        overflow: hidden;
    }

    .center-bar-search-box .search-bar:not(.open) {
        border-radius: 20px;
    }

    .center-bar-search-box .search-bar.open {
        border-radius: 20px 20px 0px 0px;
    }

    .header-nav {
        background-color: var(--naranja2);
        z-index: 47;
    }

    .maximize .header-nav {
        top: var(--header-h1-max);
    }

    .minimize .header-nav {
        top: var(--header-h1-min);
    }

    .header-nav .header-nav-box {
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
        grid-template-rows: auto;
        margin-inline: auto;
        max-width: 1000px;
        width: 100%;
    }

    .header-nav .header-nav-box a {
        text-align: center;
        color: var(--color-t-0);
        transition: all 0.3s;
        position: relative;
    }

    .header-nav .header-nav-box span {
        text-align: center;
        z-index: 1;
        position: relative;
    }

    .header-nav .header-nav-box a::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: var(--naranja1);
        transform: scaleY(0);
        transition: all 0.2s ease-in-out;
        opacity: 0;
        transform-origin: center bottom;
    }

    .header-nav .header-nav-box a:hover {
        color: var(--color-t-1)
    }

    .header-nav .header-nav-box a:hover::before {
        opacity: 0.8;
        transform: scaleY(1);
        z-index: 0;
    }

    .nav-link-clients a {
        padding-block: 8px;
    }

    .nav-link-vendors {
        background-color: #00000015;
    }

    .nav-link-vendors a {
        padding-block: 4px;
    }

    #btn-open-lateral-nav,
    #btn-search-container {
        width: 42px;
        height: 42px;
        display: grid;
        place-items: center;
    }

    .search-results-container {
        max-width: 500px;
        padding-inline-end: 6px;
        border-radius: 0px 0px 16px 16px;
        background-color: #f1f1f1;
    }

    .search-bar.open .search-results-container {
        padding-block: 6px;
    }

    .search-result .text {
        padding-inline: 16px 0px;
        padding-block: 10px;
    }

    .search-result .btn-open-in-new-tab {
        display: grid;
        place-items: center;
        width: 38px;
        transition: all 0.2s;
    }

    .search-result .btn-open-in-new-tab:hover {
        background-color: #00000015;
    }

    .search-result .btn-open-in-new-tab:hover i {
        transform: scale(1.1) rotate(45deg);
    }

    .search-results-box::-webkit-scrollbar {
        width: 10px;
        height: 4px;
        background-color: transparent;
        border-radius: 19px;
    }

    .search-results-box::-webkit-scrollbar-thumb {
        border-radius: 19px;
        background-color: #c2c2c2;
        height: 4px;
        box-shadow: none;
        border: 0;
    }

    .search-results-box::-webkit-scrollbar-thumb:hover {
        background-color: #a7a7a7;
    }

    .search-results-box::-webkit-scrollbar-thumb:active {
        background-color: #656565;
    }

    .search-results-box::-webkit-scrollbar-track {
        border-radius: 19px;
        background-color: #dddddd;
        margin: 0 16px;
        border: 3px solid #f1f1f1;
    }

    .btn-search-box-icon {
        right: 30px;
        top: 4px;
        bottom: 4px;
        width: 40px;
    }

    .btn-close-box-icon {
        right: 6px;
        top: 4px;
        bottom: 4px;
        width: 28px;
    }

    .open+.search-results-container {
        box-shadow: 0px 6px 7px #00000065;
    }
}

.center-bar-search-box:focus-within .search-bar {
    box-shadow: 0px 0px 12px 2px #00000025;
}

.center-bar-search-box .search-bar {
    position: relative;
    transition: box-shadow, height 0.3s;
}

.center-bar-search-box .search-bar input {
    width: 100%;
    height: 100%;
    font-size: 16px;
    padding-inline: 20px;
    border: none;
}

.center-bar-search-box .search-bar input::placeholder {
    opacity: 0.8;
    color: black;
}

.btn-search-box-icon,
.btn-close-box-icon {
    color: var(--naranja1);
    opacity: 0.8;
    position: absolute;
    border-radius: 16px;
    display: grid;
    place-items: center;
    transition: all 0.2s;
    transform: scale(0.8);
    font-size: 18px;
}

.btn-search-box-icon:hover {
    opacity: 1;
    background-color: var(--naranja2);
}

.btn-close-box-icon:hover {
    opacity: 1;
    background-color: var(--naranja2);
}

.center-bar-search-box:focus-within .btn-search-box-icon {
    transform: scale(1);
}

.header-top .quick-access a {
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: var(--color-t-1);
    font-size: 16px;
    overflow: hidden;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    transition: all 0.3s;
}

.header-top .quick-access a:hover {
    background-color: #ffffff25;
    border-color: #ffffff;
}

.header-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    transition: all 0.3s;
}

.mobile-menu-box i,
.mobile-search-box i {
    font-size: 26px;
    color: var(--color-t-1);
}

#btn-close-lateral-nav i {
    font-size: 32px;
    opacity: 0.3;
    transition: all 0.3s ease-in-out;
    color: var(--naranja1)
}

#btn-close-lateral-nav:hover i {
    opacity: 0.6;
}

.search-results-container {
    position: fixed;
    width: 100%;
    z-index: 48;
    max-height: 80vh;
    overflow: hidden;
    display: flex;
}

.search-results-box {
    /* height: 100%; */
    overflow: auto;
    flex: 1;
}

.search-result {
    display: grid;
    grid-template-columns: 1fr auto;
    transition: all 0.3s;
}

.search-result:hover {
    background-color: var(--naranja2);
}

.search-result .btn-open-in-new-tab i {
    transform: rotate(45deg);
    opacity: 0.2;
    transition: all 0.2s;
}

.search-result:hover .btn-open-in-new-tab i {
    opacity: 0.8;
    color: var(--naranja1)
}
.btn-change-mode-login {
    border-width: 2px;
    border-radius: 8px;
    border-style: solid;
    border-color: var(--color-t-1);
    padding: 8px 20px;
    color: var(--color-t-1);
    transition: all 0.3s;
}
.btn-change-mode-login:hover {
    background-color: var(--color-t-1);
    color: var(--naranja1);
}