.container-form {
    border-style: solid;
    border-width: 2px;
    border-radius: 16px;
    border-color: var(--naranja1);
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    
}
.group-form.inputs {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
@media (min-width: 801px) {
    .group-form.inputs {
        margin-left: 10%;
    }
}
@media (min-width: 601px) and (max-width: 800px) {
    .group-form.inputs {
        margin-left: 5%;
    }
}
.group-form.inputs .form-field label:first-child {
    width: 260px;
}
.group-form:not(.fwidth) {
    width: 100%;
    max-width: 520px;
}
.group-form.fwidth {
    min-height: 20px;
}
.group-form .ipt-text {
    border: 1px solid var(--naranja1);
    background-color: var(--naranja2);
    font-size: 16px;
    padding: 8px 18px;
    border-radius: 30px;
    width: 350px;
}
.group-form .ipt-text::placeholder {
    color: var(--color-t-0);
}
.group-form .btn-enviar {
    background-color: var(--naranja1);
    transition: all 0.3s;
    color: var(--color-t-1);
    border: none;
    border-radius: 30px;
    padding: 8px 24px;
    font-size: 16px;
    width: 350px;
    margin-inline-start: auto;
}
.group-form .btn-enviar:hover {
    background-color: var(--naranja1-d);
}
.form-field{
    display: flex;
}
.select-wrapper {
    position: relative;
    display: inline-block;
}

.select-wrapper select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 10px 40px 10px 10px;
    font-size: 16px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #fff;
}

.select-wrapper i {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    font-size: 18px;
    pointer-events: none;
    color: var(--naranja1-d);
}
.group-form .ipt-cont {
    border: 1px solid var(--naranja1);
    background-color: var(--naranja2);
    font-size: 16px;
    padding: 8px 18px;
    border-radius: 30px;
    width: 100%;
}
.group-form .ipt-cont::placeholder {
    color: var(--color-t-0);
}
.group-form.security-options label {
    margin-block-start: 12px;
}
.group-form label .label-title {
    margin-block-end: 8px;
}
.group-form .btn-enviar-cont {
    background-color: var(--naranja1);
    transition: all 0.3s;
    color: var(--color-t-1);
    border: none;
    border-radius: 30px;
    padding: 8px 24px;
    font-size: 16px;
    width: 100%;
    margin-inline-start: auto;
    margin-block-start: 30px;
}
.group-form .btn-enviar-cont:hover {
    background-color: var(--naranja1-d);
}
.ip-body input,
.ip-body select {
    transition: all 0.3s;
    outline-width: 0px;
    outline-color: var(--naranja2);
    outline-style: solid;
}
.ip-body input:focus,
.ip-body select:focus {
    outline-width: 4px;
}

.btn-close-session {  
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-block-end: 30px;
    width: 100%;
    max-width: 200px;
}  

.btn-close-session:hover {  
    background-color: #d32f2f;
}  

.btn-close-session i {  
    margin-right: 8px;
}  

.btn-close-session:focus {  
    outline: none;
}