.search-container {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.search-container .search-input {
    width: 100%;
    padding: 10px 40px 10px 15px;
    border: 1px solid var(--naranja1);
    border-radius: 20px;
    font-size: 16px;
}
.search-container .search-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: var(--color-t-0);
    font-size: 16px;
    pointer-events: none;
}