.support-header {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.support-search {
    position: relative;
    max-width: 400px;
    margin: 0 auto 18px auto;
}


.support-search input {
    width: 100%;
    padding: 10px 40px 10px 15px;
    border: 1px solid #cccccc;
    border-radius: 20px;
    font-size: 16px;
    outline-width: 0px;
    outline-style: solid;
    outline-color: var(--naranja2);
    transition: all 0.3s;
}
.support-search input:focus {
    outline-width: 6px;
}
.support-search .search-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: #333333;
    pointer-events: none;
}

.support-filters {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.filter-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--naranja1);
    color: var(--color-t-1);
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s;
}

.filter-btn:hover {
    background-color: var(--naranja1-d);
    transform: scale(1.04);
}

.faq-section {
    font-size: 20px;
    text-align: start;
    padding: 20px;
}

.faq-title {
    font-size: 20px;
    color: var(--naranja1);
    margin-bottom: 20px;
}

.faq-item {
    padding: 14px 20px;
    margin-bottom: 14px;
    background-color: var(--naranja1);
    border-radius: 5px;
}

.faq-question {
    font-size: 16px;
    color: var(--color-t-1);
}

.faq-answer {
    padding-inline: 2px;
    font-size: 15px;
    margin-block-end: 30px;
}

.live-chat-section {
    max-width: 600px;
    height: auto;
    margin-block: 20px;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--naranja1);
    padding: 16px 20px;
    border-radius: 16px 16px 0px 0px;
}
.chat-header h3 {
    color: var(--color-t-1)
}
.chat-body {
    background-color: var(--naranja2);
    padding: 16px;
    border-radius: 0px 0px 16px 16px;
}
.live-chat-btn {
    padding: 6px 12px;
    border: none;
    background-color: var(--color-t-1);
    color: var(--naranja1);
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.chat-messages {
    height: 330px;
    overflow-y: auto;
    margin-bottom: 15px;
}

.message {
    padding: 10px 16px;
    margin-bottom: 15px;
    font-size: 14px;
    max-width: 80%;
    width: fit-content;
}

.user-message {
    border-radius: 10px 0px 10px 10px;
    margin-inline-end: 0;
    margin-inline-start: auto;
    background-color: var(--color-t-1);
}

.support-message {
    border-radius: 0px 10px 10px 10px;
    background-color: var(--naranja1);
    color: var(--color-t-1);
    margin-inline-start: 0;
    margin-inline-end: auto;
}

.chat-input {
    display: flex;
    align-items: center;
    gap: 10px;
}

.chat-input input {
    flex-grow: 1;
    padding: 10px 16px;
    border: 1px solid #cccccc;
    border-radius: 20px;
    font-size: 14px;
    transition: all 0.3s;
    color: #7b7b7b
}
.chat-input input:focus {
    border-color: var(--naranja1);
    color: var(--color-t-0);
}

.send-btn {
    padding: 10px;
    background-color: var(--naranja1);
    color: var(--color-t-1);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.send-btn:hover {
    background-color: var(--naranja1-d);
    transform: scale(1.1);
}

.send-btn i {
    font-size: 16px;
    transform: translateX(-1px);
}